.btn {
  margin-right: 5px;
}

.btn-submit {
  margin-top: 24px;
  margin-bottom: 24px;
}

form {
  margin-left: 26px;
  font-size: 15px;

}
footer {
   margin-top: 45px;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.header-title {
  color: red;
}

.options {
  display: block;
}

.message{
  color: red;
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: -3px;
}

.modal-content {
  margin-top: 160px;
}

.modal-title {
  font-size: 20px;
}

video {
    width: 100%;
    /* margin-top: 100px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

.video-container {
  margin-top: 160px;
}
