/* video-container { */
    /* margin-top: 50px; */
    /* border-style: solid; */
    /* height: 500px; */
/* } */
video {
    width: 100%;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}
.header-title {
  color: red;
}
.options {
  display: block;
}
.btn-submit {
  margin-top: 24px;
  margin-bottom: 24px;
}
.modal-title {
  font-size: 20px;
}
.btn {
  margin-right: 5px;
}
.message{
  color: red;
  font-size: 15px;
}
.modal-content {
  margin-top: 200px;
}
form {
  margin-left: 26px;
}
footer {
   margin-top: 45px;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}
